/* General Styling */
body {
    background-color: #85C1E9;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Title Styling */
h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0.5em 0;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

/* Bingo Card Container */
.bingo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Bingo Card Grid */
#bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 5px;
    margin: 20px 0;
    justify-content: center;
}

/* Bingo Cells */
.bingo-cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.bingo-cell.clicked {
    background-color: #273746;
    color: #FFFFFF;
}

/* Shuffle Button */
#shuffle-button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#shuffle-button:hover {
    background-color: #2ECC71;
    color: #FFFFFF;
}

#shuffle-button:active {
    background-color: #273746;
    color: #FFFFFF;
}
